<div class="bg-white rounded-lg border bg-card text-card-foreground shadow-sm">
  <div class="flex flex-col space-y-1.5 p-6">
    <div class="text-2xl font-semibold leading-none tracking-tight">
      Thêm gói mới
    </div>
  </div>
  <div class="p-6 pt-0">
    <form class="space-y-4">
      <div>
        <label class="block text-sm font-medium mb-1" for="code">Mã gói</label
        ><input
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-base ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
          required="" [(ngModel)]="data.code" id="code" name="code"
          value=""
        />
      </div>
      <div>
        <label class="block text-sm font-medium mb-1" for="name">Tên gói</label
        ><input
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-base ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
          required="" [(ngModel)]="data.name" id="name" name="name"
          value=""
        />
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label class="block text-sm font-medium mb-1" for="price">Giá (VNĐ)</label
          ><input
            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-base ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
            required="" [(ngModel)]="data.price" id="price" name="price"
            type="number"
            value=""
          />
        </div>
        <div>
          <label class="block text-sm font-medium mb-1" for="duration">Thời hạn (ngày)</label
          ><input
            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-base ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
            required="" [(ngModel)]="data.duration"
            type="number" id="duration" name="duration"
            value=""
          />
        </div>
      </div>
      <div>
        <label class="block text-sm font-medium mb-1" for="description"
          >Tính năng (mỗi dòng một mục)</label
        ><textarea id="description" name="description"
          class="flex min-h-[80px] w-full rounded-md border border-input bg-background px-3 py-2 text-base ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
          rows="4" [(ngModel)]="data.description"
        ></textarea>
      </div>
      <div class="flex items-center space-x-2">
        <mat-slide-toggle (change)="onChange($event.checked)"
                    matTooltip="Activate or Deactivate Plan" [checked]='true'>
                </mat-slide-toggle>
        <span>Hoạt động</span>
      </div>
      <button
        class="text-white items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2"
        type="submit" (click)="newPlan()"
      >
        {{ page==="add" ? "Tạo mới" : "Cập nhật" }}
      </button>
    </form>
  </div>
</div>
