<!-- <div
  class="rounded-lg border bg-card text-card-foreground shadow-sm hover:shadow-lg transition-shadow duration-300 overflow-hidden"
  [ngClass]="canNotRead ? 'canNotReadCard' : ''"
>
  <div class="p-0">
    <div class="relative h-48 w-full" *ngIf="news.picByteImg">
      <img
        alt="Phân tích chuyên sâu cập nhật cổ phiếu FPT"
        loading="lazy"
        decoding="async"
        data-nimg="fill"
        class="object-cover"
        [ngClass]="canNotRead ? 'canNotReadCardImg' : ''"
        [src]="imgLink(news.picByteImg, news.imageType, news.imageName)"
        style="
          position: absolute;
          height: 100%;
          width: 100%;
          inset: 0px;
          color: transparent;
        "
      />
      <div class="absolute top-2 left-2 flex gap-2">
        <div
          *ngIf="news.isFeatured"
          class="inline-flex items-center rounded-full border px-2.5 py-0.5 font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent hover:bg-primary/80 bg-red-100 text-red-800 text-xs"
        >
          <i class="icon-12 star w-3 h-3 mr-1"></i>Nổi bật
        </div>
      </div>
      <div class="absolute top-2 right-2 flex flex-col gap-1"></div>
    </div>
    <div class="p-6">
      <h3
        class="font-bold text-lg mb-2 line-clamp-2 hover:text-blue-600 transition-colors"
      >
        <a *ngIf="!canNotRead" href="/news/{{ news.id }}">{{ news.title }}</a>
        <a *ngIf="canNotRead" href="/pricing">{{ news.title }}</a>
      </h3>
      <div class="flex items-center justify-between text-xs text-gray-500 mb-4">
        <div class="flex items-center gap-4">
          <div class="flex items-center gap-1">
            <i class="icon-12 calendar"></i>
            <span>{{ customFormattedDate(news.updatedTime) }}</span>
          </div>
          <div class="flex items-center gap-1">
            <i class="icon-12 eye"></i><span>{{ news.view }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div
  class="rounded-lg border bg-card text-card-foreground shadow-sm hover:shadow-lg transition-shadow duration-300 overflow-hidden"
  [ngClass]="canNotRead ? 'canNotReadCard' : ''"
>
  <div class="p-0" style="display: flex; flex-direction: row">
    <div
      class="relative w-full"
      *ngIf="news.picByteImg"
      style="-webkit-box-flex: 1; -ms-flex: 1 1 50%; flex: 1 1 50%"
    >
      <a class="img-a">
        <img
          alt="PV Power dự kiến phát hành gần 726 triệu cp, lần đầu tăng vốn sau cổ phần hóa"
          loading="lazy"
          decoding="async"
          data-nimg="fill"
          class="object-cover"
          [ngClass]="canNotRead ? 'canNotReadCardImg' : ''"
          [src]="imgLink(news.picByteImg, news.imageType, news.imageName)"
          class="img-form"
        />
      </a>
      <div *ngIf="news.isFeatured" class="absolute top-2 left-2 flex gap-2">
        <div
          class="inline-flex items-center rounded-full border px-2.5 py-0.5 font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent hover:bg-primary/80 bg-red-100 text-red-800 text-xs"
        >
          <i class="icon-12 star w-3 h-3 mr-1"></i>Nổi bật
        </div>
      </div>
      <div *ngIf="planCode" class="absolute top-2 left-2 flex gap-2">
        <div
          class="inline-flex items-center rounded-full border px-2.5 py-0.5 font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent hover:bg-primary/80 bg-red-100 text-red-800 text-xs"
        >
          {{planCode}}
        </div>
      </div>
    </div>
    <div class="card-body">
      <h3
        class="font-bold text-sm mb-2 line-clamp-2 hover:text-blue-600 transition-colors"
      >
        <a *ngIf="!canNotRead" href="/news/{{ news.id }}">{{ news.title }}</a>
        <a *ngIf="canNotRead" href="/pricing">{{ news.title }}</a>
      </h3>
      <p class="text-gray-600 text-sm mb-4 line-clamp-3">
        {{ news.description }}
      </p>
      <div class="flex items-center justify-between text-xs text-gray-500 mb-4">
        <div class="flex items-center gap-4">
          <div class="flex items-center gap-1">
            <i class="icon-12 calendar"></i>
            <span>{{ customFormattedDate(news.updatedTime) }}</span>
          </div>
          <div class="flex items-center gap-1">
            <i class="icon-12 eye"></i><span>{{ news.view }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
