<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Forgot Password</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="forgotPasswordForm">  
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error
                    *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid">
                    <span *ngIf="forgotPasswordForm.controls.email.required">this field is mandatory.</span>
                    <span *ngIf="forgotPasswordForm.controls.email.errors.pattern">this field is invalid.</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)">
        <mat-icon>send</mat-icon> Send Password
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon> Close
    </button>
</mat-dialog-actions> -->

<div
  class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8"
>
  <div
    class="rounded-lg border bg-card text-card-foreground shadow-sm w-full max-w-md"
  >
    <div class="flex flex-col space-y-1.5 p-6 text-center">
      <div class="tracking-tight text-2xl font-bold">Quên mật khẩu</div>

    </div>
    <div class="p-6 pt-0">
      <form class="space-y-4" [formGroup]="forgotPasswordForm">
        <div class="space-y-2">
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="email"
            >Email</label
          ><input
            matInput formControlName="email"
            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-base ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
            id="email"
            placeholder="Nhập địa chỉ email"
            type="email"
            value=""
            name="email"
            required
          />
        </div>

        <button
          class="text-white inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full"
          type="submit"
          (click)="handleSubmit()" [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)"
        >
          Send
        </button>
      </form>
    </div>
  </div>
</div>
